parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - src/Resources
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        # Shopware BC layer - some methods may not exist in all versions
        - '#Call to an undefined method#'
